// Navigation Styles here
.nav-container {
    .custom-layout(space-between, center);
    margin: 10px auto;

    .nav-list {
        .custom-layout(flex-end, center);

        li {

            a{
                color: @shark;
                font-size: 1.5rem;
                padding: 0 20px;
                text-decoration: none;
    
            }
        }
    }
}